<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about me</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/public/textillate/assets/animate.css">
    <link rel="stylesheet" href="/aboutstyle.css">
<!--    <link rel="stylesheet" href="style.css">-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
</head>
<body>
<%- include('./partial/header') %>
<div class="about-content">
        <div class="top-section">
          <div class="background-cover text-center">
            <h1>I'm Justin</h1>
              <h6>Web developer & Data scientist...</h6>
          </div>
        </div> 
        <div class="about-me-content">
            <p>Cacti show a wide variety of growth&nbsp;
                <a href="https://en.wikipedia.org/wiki/Habit_(biology)">habits</a>,
                which are difficult to divide into clear, simple categories.
            </p>
            <p>Cacti can be tree-like (arborescent), meaning they
                typically have a single more-or-less woody&nbsp;
                <a href="https://en.wikipedia.org/wiki/Trunk_(botany)">trunk</a>&nbsp;topped by several to many&nbsp;
                <a href="https://en.wikipedia.org/wiki/Branch">branches</a>. In the genera&nbsp;<em>Leuenbergeria</em>,&nbsp;<em>Pereskia</em>&nbsp;and&nbsp;<em>Rhodocactus</em>, the branches are covered with leaves, so the species of these genera may not be recognized as cacti. In most other cacti, the branches are more typically cactus-like,
                bare of leaves and bark and covered with spines, as in&nbsp;<em><a href="https://en.wikipedia.org/wiki/Pachycereus_pringlei">Pachycereus pringlei</a></em>&nbsp;or the larger&nbsp;<a href="https://en.wikipedia.org/wiki/Opuntia">opuntias</a>. Some cacti may become tree-sized but without branches, such as larger specimens of&nbsp;<em><a href="https://en.wikipedia.org/wiki/Echinocactus_platyacanthus">Echinocactus platyacanthus</a></em>. Cacti may also be described as&nbsp;<a href="https://en.wikipedia.org/wiki/Shrub">shrubby</a>, with several stems coming from the ground or from branches very low down, such as in&nbsp;<em>
                    <a href="https://en.wikipedia.org/wiki/Stenocereus_thurberi">Stenocereus thurberi</a></em>.
            </p>
            <p>Other cacti have a quite different appearance. In tropical regions, some grow as forest climbers and&nbsp;
                <a href="https://en.wikipedia.org/wiki/Epiphyte">epiphytes</a>.
                Their stems are typically flattened and almost leaf-like in appearance, with few or even no spines.
                Climbing cacti can be very large; a specimen of&nbsp;
                <em><a href="https://en.wikipedia.org/wiki/Hylocereus">Hylocereus</a>
                </em>&nbsp;was reported as 100 meters (330&nbsp;ft) long from root to the most distant stem. Epiphytic cacti, such as species of&nbsp;<em><a href="https://en.wikipedia.org/wiki/Rhipsalis">Rhipsalis</a></em>&nbsp;or&nbsp;<em><a href="https://en.wikipedia.org/wiki/Schlumbergera">Schlumbergera</a>
                </em>, often hang downwards, forming dense clumps where they grow in trees high above the ground.</p>
        </div>
    </div>

    <%- include("./partial/footer")%>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="textillate/assets/jquery.lettering.js"></script>
    <script src="textillate/jquery.textillate.js"></script>
    <script src="text.js"></script>
    </div>
    </div>
</body>
</html>
