<!DOCTYPE html>
<html lang="en">
<head>
  <title>Justin_12</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="textillate/assets/animate.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <link rel="stylesheet" href="style.css">
</head>
<body>
<%- include('./partial/header') %>

<div class="jumbotron">
  <div class="trans">
  <div class="container text-center">
    
    <h1>Hello World</h1>      
    <p>Some text that represents "Me"...</p>
  </div>
</div>
</div>
  <%- include("./partial/footer")%>
<script src="textillate/assets/jquery.lettering.js"></script>
<script src="textillate/jquery.textillate.js"></script>
<script src="text.js"></script>
</body>
</html>
